{{ partial "head.html" . }}
    <body>
        <div class="content index width mx-auto px3 my4">
            {{ partial "nav.html" . }}
            <section id="wrapper" class="home">
                <article class="post">
                    <div class="terminal padded">
                        <p class="prompt">link is dead.</p>
                        <p class="prompt output new-output">Please check the page url.</p>
                    </div>
                </article>
            </section>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "javascript.html" . }}
    </body>
</html>
